@tailwind base;
@tailwind components;
@tailwind utilities;

#admin a.active {
  color: white;
}
#admin a {
  background-color: transparent;
}
#activeNav a.active {
  background-color: rgb(241, 240, 240);
  color: black;
}
/* #activeNav a {
  background-color: blueviolet;
} */
#navLogInOut a.active {
  background-color: transparent;
  color: white;
}
#navLogInOut:hover a.active {
  color: black;
}
